@import '../../../styles/variables.scss';

:host {
  .column {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
  }
  .danger {
    background-color: $danger !important; 
  }
  .mat-card {
    background-color: $purple_2;
    border-radius: 10px;
    box-shadow: initial;
    height: 300px;

    
    .mat-icon {
      height: 65px;
      width: 65px;
      font-size: 65px;
    }

    .icon-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 65px;
      margin-bottom: 1rem;
    }

    .mat-card-content {
      .mat-card-title {
        font-size: 19px;
        margin-bottom: 0.7rem;
      }

      .mat-card-subtitle {
        font-size: 14px;
      }

      flex-grow: 3;
      overflow: hidden;
      
      ::after {
        content: '';
      }
    }

    .mat-card-actions {
      padding: 5px 10px 13px;

      button {
        color: $purple;
        font-size: 17px;
      }
    }
  }
}