@import '../../../../styles/variables.scss';

:host {
  .form-field {
    &.search {
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        min-width: 40px;
      }
    }
  }
  .search-input {
    width: 100%;
    font-size: 17px;
    height: 52px;
  }
}
