$white: #fff;
$black: #3b3945;
$purple: #8768be;
$purple_2: #f6f3f9;
$darkBlue: #46464f;



// $fontFamily: openSans;
// $fontFamilyMontserrat: montserrat;
// $mainColorBlue: #169ade;
// $mainColorAdmin: #013768;
// $mainColorGreen: #9ade16;
// $mainBgColor: #f4f6fc;
// $mainLoginBg: rgba(#f2f2f2, 0.5);
// $fieldGrpBgColor: #b6bed6;

// $white: #fff;
// $black: #000;
// $red: #fb4c4e;
// $red_1: #fff8f8;
// $red_2: #e43e3e;
// $yellow: #f2cd0b;
// $yellow_1: #ffb11a;
// $orange: #f0a107;
// $orange_1: #ff974b;
// $pink: #ae7bc7;
// $pink_1: #969ed9;
// $pink_2: #e3eaff;
// $pink_3: #f0f2ff;
// $pink_4: #e8ebff;
// $pink_5: #d8e2ff;
// $green_1: #88d1a1;
// $green_2: #edffc9;
// $green_3: #269400;
// $green_4: #5ecc77;
// $darkBlueColor: #00466a;
// $blue_1: #0079bd;
// $blue_2: #03279c;
// $blue_3: #e5ecff;
// $blue_4: #c0cfff;
// $blue_5: #0161ba;
// $blue_6: #c0eaff;
// $blue_7: #005886;
// $blue_8: #007cbc;
// $blue_shadow: #d4deff;
// $blue_shadow1: #97aae3;
// $icon_bg: #e4ebff;
// $darkSilverColor: #525252;
// $silver_1: #e9edfa;
// $silver_2: #ebf0ff;
// $silver_3: #e7e7e7;
// $silver_4: #898989;
// $orange: #e9a800;

// $silver-lighten: #e3e3e3;
// $silver-dark: #6e6e6e;
// $silver-dark2: #9399ac;
// $silver-btn: #c8d0d5;
// $silver: #9f9f9f;
// $silver-border-color: #e1e1e1;
// $main-green-color: #83c700;
// $main-blue-color: #0d95db;
// $main-green-hover: #94dd06;
// $main-blue-hover: #29b6fe;

// $lightSilverColor: #c0c5d2;
// $lightSilverColor_1: #e0e0e0;
// $lightSilverColor_2: #d0dbff;

// $fontColor: #747e8c;
// $fontColorLabel: $darkSilverColor;
// $boxShadow-color: #dce4ff;
// $boxShadow: 0 3px 10px 0 $boxShadow-color;
// $overlayBg: rgba(#001223, 0.25);
// $scrollColor: rgba($pink_1, 0.4);

// //empty-data colors
// $empty-bgColor: #f3f5f6;
// $empty-color: #b6bed6;
// $emptyColorOpacity: rgba($empty-color, 0.3);

// $transition-speed: all 0.4s;
