<div class="header">
    <h1>{{ item.name }}</h1>
    <button mat-button primary *ngIf="!item.summarization" (click)="summarize()">Summarize</button>
    <hr>
    <div>Paper count: {{ item?.summarization?.paperCount }}</div>
    <div>Summarization text: {{ item?.summarization?.text }}</div>
</div>

<pdf-viewer
    *ngIf="fileView === 'pdf'"
    [src]="item?.fileUrl"
    [render-text]="true"
    [original-size]="false"
    class="pdf"
></pdf-viewer>

<div *ngIf="fileView === 'mth'" class="panel">
    <div class="panel-body" [innerHtml]="item?.fileUrl"></div>
</div>

<div *ngIf="!fileView" class="no-instruction">
    <label>Інструкція відсутня</label>
</div>