@import '../../../../styles/variables.scss';

:host {
  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .between {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 35%;
  }
  p {
    font-size: 18px;
    line-height: 130%;
  }
}
