@import '../../../../styles/variables.scss';

:host {
  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    .card-header {
      button {
        border: 1px solid black;
      }
    }
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .between {
    display: flex;
    justify-content: space-between;
  }
  .panel {
    height: 110%;
  }
  .pdf {
    width: 100%; 
    height: 100%;
  }
  img {
    width: 35%;
  }
  p {
    font-size: 18px;
    line-height: 130%;
  }
  .no-instruction{
    height: 100%;
    width: 100%;
    background-color: #F6F3F9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    label {
      font-size: 46px;
      font-weight: 500;
    }
  }
}
